<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Upload d'image</title>
    <link rel="stylesheet" href="/static/assets/css/home.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Upload d'image</h1>

        <div class="alert alert-success" id="successMessage" style="display: none;"></div>
        <div class="alert alert-danger" id="errorMessage" style="display: none;"></div>
        
        <form action="/uploadPhoto" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Entrez votre numero CIN</label>
                <input type="text" class="form-control-file" id="numeroCin" name="numeroCin" required>
            </div>
            <div class="form-group">
                <label for="user">User :</label>
                <select class="form-control" id="user" name="nameWorker" required>
					
                    <option value="">Sélectionnez un utilisateur</option>
                    <!-- Boucle Thymeleaf pour afficher les utilisateurs -->
                    <option th:each="worker : ${workers}" 
                            th:value="${worker.workerName}" 
                            th:text="${worker.workerName}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Upload et Signer</button>
        </form>
    </div>
</body>
</html>
